body{
    background: #d3d3d3;
}
.img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;
}
.text{
    text-align: center;
    margin-top: 220px;
 
    
}
.text h1{
    font-size: 70px;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    color: #FFFFFF ;
}
.text p{
   position: relative;
   bottom: 20px;
  font-size: 40px;
  font-family: 'Roboto';
  color:white;
  font-weight: 400;
  line-height: 47px;
}
.span{

    color: yellow;
}

.text1 { 
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 299px;
    height: 203px;
    margin-left: 526px;
    margin-top: 19px;
}
.text1 span{
    color: green;
    font-size: 32px;
}
.text1 p{
    width: 160px;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 70px;
    text-align: center;

}
.text2{
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 300px;
    height: 203px;
    margin-left: 260px;
    margin-top: 15px;
   
}
.text2 p{
    width: 229px;
    font-size: 20px;
    padding-top: 35px;
    padding-left: 38px;
    text-align: center;
}


.text3{
    display: flex;
}
.span1{
    font-size: 32px;
    color: green;
}
.text4{
    margin-top: 100px;
    margin-left: 185px;
    display: flex;
  flex-direction: row;
}
.text4 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    font-family: 'Roboto';
    color: green;
}
.region1{
    width: 840px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto';

}
.region{
    width: 650px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto';
    
}
.map{
    width: 716px;
    height: 338px;
    margin-top: 50px;

   
}
.text5{
    margin-top: 80px;
    margin-left: 195px;
    
}
.text5 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    font-family: 'Roboto';
    color: green;
}
.text5 p{
    width: 1000px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto';
}
.picture{
    width: 600px;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
    
}
.map3{
    margin-bottom: 50px;
   
}
.line{
    margin-bottom: 30px;
    border: 1px solid black;
    transform: rotate(-0.24deg);
}
.text6{
margin-left:213px ;
}
.tur{
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    font-family: 'Roboto';
    color: green;
}

.turism h1{
    margin-left: 320px;
    font-size: 32px;
    font-weight: 400;
    line-height: 47px;
    font-family: 'Roboto';

}
.turism p{
    width: 915px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto';
}
.tur1{
    margin-bottom: 50px;
    display: flex;
}
.img1{
    margin-left: 80px;
    width:600px;
    height:254px ;

}
.img2{
    width: 589px;
    height: 355px;
    margin-left: 89px;
    margin-top: 25px;

}
.flag{
    text-align: center;


}
.glav{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 32px;
    text-decoration: none;
    font-weight: 400;
    line-height: 47px;
    font-family: 'Roboto';
    color: black;
 
}
.glav:hover{
    color: tomato;
    transition: all 0.3s ease;
  

}

.img3{
    width: 370px;
    height: 269px;
}
.img4{
    width: 370px;
    height: 243px;
    margin-top: 280px;
   
}
.img5{
    width: 541px;
    height: 340px;
    margin-left: 100px;

}
.img7{
    width: 384px;
    height: 219px;
}
.img6{
    width: 382px;
    height: 216px;
    margin-top: 220px;
}
.flag1{
    margin-right: 50px;
}